#about header {
    padding: 0 50px;
    max-width: 1200px;
    margin: auto;
    position: relative;
}


#about {
  height: 100vh;
}

.about-container {
  display: flex;
  position: relative;
  top: 40%;
  transform: translate(0, -60%);
  padding: 0 50px;
  max-width: 1200px;
  margin: auto;
}

.about-logo {
  margin-right: 117px;
  margin-top: 30px;
}

.greeting,
.quote {
  color: var(--color-1);
}

.greeting {
  font-weight: 500;
  font-size: 100px;
  line-height: 117px;
  margin-bottom: 24px;
}

.quote {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 48px;
}

.contactBtn {
  border-radius: 34px;
  color: var(--accent);
}
